@import "normalize";
@import "variables"; 
@import "todo";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(217, 217, 217, 0.192);
}